.card {
  padding: 16px;
  background-color: rgb(250, 250, 250);
  margin: 10px;
  position: relative;
  color: #666;
}

.tag {
  font-size: 12px;
  background-color: #d1fae5;
  color: #047857;
  padding: 4px 8px;
  border-bottom-right-radius: 8px;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 16px;
}

.name {
  font-size: 18px;
  color: #666;
  margin: 16px 0 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.priceWrapper {
  height: 66px;
  flex-flow: column wrap;
  align-content: center;
}

.pointsPriceAndButtonSection {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 10px;
  align-items: start;
}

.pointsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wasPrice {
  font-size: 14px;
  text-decoration: line-through;
  color: #9ca3af;
  margin-bottom: 4px;
}

.currentPoints {
  font-weight: bold;
  color: #434343;
  font-size: 16px;
  margin-bottom: 5px;
}

.currentPrice {
  color: #434343;
  font-size: 18px;
  margin-bottom: 5px;
}

.salePrice {
  font-weight: bold;
  color: #dc2626;
  font-size: 18px;
  margin-bottom: 5px;
}

